Repository ollionorg/datapipes-airbyte, pull requests merged in 2024-05, with the labels that each got.

#34 fix: pandas lib update
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
  airbyte-integrations/connectors/source-file/setup.py
Labels: lgtm, size/XL

#36 fix: DPA-2361 Source File Data Type issue
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/source_file/client.py
Labels: lgtm, size/M

#37 fix: bds stream fix
  airbyte-integrations/connectors/source-brightspace/metadata.yaml
  airbyte-integrations/connectors/source-brightspace/source_brightspace/streams.py
Labels: size/XS, lgtm

#38 fix: DPA-2363 Brightspace update connector configuration
  airbyte-integrations/connectors/source-brightspace/metadata.yaml
  airbyte-integrations/connectors/source-brightspace/source_brightspace/spec.yaml
  airbyte-integrations/connectors/source-brightspace/source_brightspace/streams.py
Labels: lgtm, size/M

#39 fix: DPA-2397 Error while adding bds connector
  airbyte-integrations/connectors/source-brightspace/source_brightspace/streams.py
Labels: size/XS, lgtm

#40 fix: DPA-2397 Error while adding bds connector
  airbyte-integrations/connectors/source-brightspace/metadata.yaml
Labels: size/XS, lgtm
