Repository ollionorg/datapipes-airbyte, pull requests merged in 2024-02, with the labels that each got.

#5 fix: DPA-1803 MSSQL failing for custom SQL
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
Labels: size/XS, lgtm

#9 feat: DPA-1988 End Date for Salesforce Stream
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/discovery_test.py
Labels: size/M

#14 FIle-Source changes
  CODEOWNERS
  airbyte-integrations/connectors/source-file/CHANGELOG.md
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/setup.py
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/source_file/encryption_client/pgp.py
  airbyte-integrations/connectors/source-file/source_file/source.py
  airbyte-integrations/connectors/source-file/unit_tests/test_client.py
  airbyte-integrations/connectors/source-file/unit_tests/test_source.py
Labels: size/L

#19 feat: DPA-1988 End Date for Salesforce Stream
  DP-CHANGELOG.md
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/discovery_test.py
Labels: lgtm, size/M
