Repository ollionorg/datapipes-airbyte, pull requests merged in 2024-04, with the labels that each got.

#29 feat: ✨ Discover for custom SQL using jdbc connection
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-oracle/metadata.yaml
Labels: lgtm, size/M

#30 Update metadata.yaml
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-postgres/metadata.yaml
Labels: size/XS, lgtm

#31 fix: Discover for custom SQL using jdbc connection
  DP-CHANGELOG.md
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-oracle/metadata.yaml
  airbyte-integrations/connectors/source-postgres/metadata.yaml
Labels: lgtm, size/M

#28 feat: ✨ BDS full & incremental and ADS incremental support added
  CODEOWNERS
  airbyte-integrations/connectors/source-brightspace/metadata.yaml
  airbyte-integrations/connectors/source-brightspace/source_brightspace/api.py
  airbyte-integrations/connectors/source-brightspace/source_brightspace/source.py
  airbyte-integrations/connectors/source-brightspace/source_brightspace/streams.py
Labels: lgtm, size/L

#32 fix: fixed stream schema file name
  airbyte-integrations/connectors/source-brightspace/metadata.yaml
  airbyte-integrations/connectors/source-brightspace/source_brightspace/schemas/Programme Learning Outcome Evaluation.json
  airbyte-integrations/connectors/source-brightspace/source_brightspace/streams.py
Labels: size/XS, lgtm

#33 fix: updated spec file of brightspace and version
  airbyte-integrations/connectors/source-brightspace/metadata.yaml
  airbyte-integrations/connectors/source-brightspace/source_brightspace/spec.yaml
Labels: lgtm, size/M
